<div class="wrapper">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark stroke">
            <a class="navbar-brand">
                <i class="fa fa-gg" aria-hidden="true"></i> GOT
            </a>
            <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="[ 'home']" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ 'book']" routerLinkActive="active">Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ 'char']" routerLinkActive="active">Character</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ 'house']" routerLinkActive="active">House</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</div>