<div class="banner">
  <div class="content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 content-left">
          <h3>Game of Thrones</h3>
          <p class="mt-3">Nine noble families wage war against each other in order to gain control over the mythical
            land of Westeros. Meanwhile, a force is rising after millenniums and threatens the existence of living men.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<section class="home">
  <div class="container">
    <div class="head-title text-center mx-auto">
      <h3>What’s it about?
      </h3>
      <p class="my-3"> Based on George R.R. Martin’s book Fire & Blood, the series will tell the story of House
        Targaryen (a.k.a. the House that gave us the Mother of Dragons herself, Daenerys Targaryen) and take place 300
        years before the events of Game of Thrones.</p>
    </div>
    <div class="about-info">
      <h3>Who’s behind the scenes?
      </h3>
      <p> Martin and Ryan Condal (Colony, Hercules) will serve as co-creators on the series.</p>
      <br>
      <p> Miguel Sapochnik and Condal will be showrunners, and the pair will also serve as executive producers along
        with Martin, Vince Gerardis, Sara Lee Hess and Ron Schmidt.
        Sapochnik, whose directing credits include six Game of Thrones episodes, won Emmy and DGA honors for “Battle of
        the Bastards.” He was nominated for another Emmy in 2019 for directing “The Long Night” and won the Emmy for
        Best Drama Series as an executive producer for the final season.</p>
      <br>
      <p>Clare Kilner (The Alienist: Angel of Darkness, The Wedding Date) and Geeta V. Patel (Meet the Patels, The
        Witcher) will also direct the series. Greg Yaitanes (Banshee, House) is director and co-executive producer.</p>
      <br>
      <p>Game of Thrones and Westworld composer Ramin Djawadi will score the series.</p>
    </div>
  </div>
</section>